<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net472" />
  <package id="Binance.Net" version="10.6.0" targetFramework="net472" />
  <package id="CryptoExchange.Net" version="8.0.2" targetFramework="net472" />
  <package id="HarfBuzzSharp" version="7.3.0.2" targetFramework="net472" />
  <package id="HarfBuzzSharp.NativeAssets.Win32" version="7.3.0.2" targetFramework="net472" />
  <package id="HarfBuzzSharp.NativeAssets.macOS" version="7.3.0.2" targetFramework="net472" />
  <package id="LinqStatistics" version="2.3.0" targetFramework="net472" />
  <package id="LiveChartsCore" version="2.0.0-rc4.5" targetFramework="net472" />
  <package id="LiveChartsCore.SkiaSharpView" version="2.0.0-rc4.5" targetFramework="net472" />
  <package id="LiveChartsCore.SkiaSharpView.WinForms" version="2.0.0-rc4.5" targetFramework="net472" />
  <package id="MathNet.Numerics" version="4.15.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Http" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="8.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.2" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net472" version="1.0.2" targetFramework="net472" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="OpenTK" version="3.3.1" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net472" />
  <package id="SkiaSharp" version="3.0.0-preview.4.1" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.Win32" version="3.0.0-preview.4.1" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.macOS" version="3.0.0-preview.4.1" targetFramework="net472" />
  <package id="OpenTK.GLWpfControl" version="3.3.0" targetFramework="net472" />
  <package id="OxyPlot.Core" version="2.2.0" targetFramework="net472" />
  <package id="OxyPlot.WindowsForms" version="2.2.0" targetFramework="net472" />
  <package id="Skender.Stock.Indicators" version="2.4.0" targetFramework="net472" />
  <package id="SkiaSharp.HarfBuzz" version="2.88.8" targetFramework="net472" />
  <package id="SkiaSharp.Views.Desktop.Common" version="3.0.0-preview.4.1" targetFramework="net472" />
  <package id="SkiaSharp.Views.WPF" version="3.0.0-preview.4.1" targetFramework="net472" />
  <package id="SkiaSharp.Views.WindowsForms" version="3.0.0-preview.4.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="8.0.5" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Telegram.Bot" version="18.0.0" targetFramework="net472" />
  <package id="Treblle.Net" version="1.0.4" targetFramework="net472" />
</packages>