<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type='text/xsl' href='style.xsl'?>
<configuration>
    <appSettings>
        <add key="TreblleApiKey" value="GbzboibmLLCCNQF49xDVbsJT5r7mMUpj" />
        <add key="TreblleProjectId" value="m8XtIPXrDKe6V0lZ" />
    </appSettings>
</configuration>